<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string></string>
		<key>title</key>
		<string>期末考试后，学科培训要“对症下药”</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2013四六级、考研春季报考优惠</string>
	</dict>
	<dict>
		<key>content</key>
		<string>     3月31日，新东方杭州英语学习中心在嘉德校区举行主题为“满血复活，Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.                                    Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.      Reborn On Easter”的复活节Party，一共有60多位口语爱好者参加了活动，他们是学生，是白领，也有带着孩子的妈妈们.                                                                                       外教Jason花了接近一个小时，用图文并茂的方式，给大家讲解复活节在西方的由来、传统文化及过节习俗。他告诉我们，鸡蛋或其他蛋类在复活节代表了新生命、复活的意义，很多人为了表达对生活的美好祝愿，就会在复活节那天将漂亮的花纹画在蛋壳上。</string>
		<key>title</key>
		<string>复活节，新东方外教的口语Party</string>
	</dict>
	<dict>
		<key>title</key>
		<string>满血复活，Reborn On Easter</string>
	</dict>
	<dict>
		<key>title</key>
		<string>BEC大型公益讲座进杭州师范学院</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春季国际教育展，园你世界名校梦</string>
	</dict>
	<dict>
		<key>title</key>
		<string>四级轻松过—走进下沙金融学院</string>
	</dict>
</array>
</plist>
